body{
    padding: 10x;
    background-color: wheat

}

body li{
    margin: 30px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: solid white;
    background-color: white;
}

nav a{
    text-decoration: none;
    border: solid;
    padding: 10px;
    border-color: lightpink;
}

nav ul {
    justify-content: center;
    padding: 25px;
    margin: auto;
    font-size: 20px;
    color:lightpink;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS';
}

a:visited{
    color: hotpink;
}

nav a.current{
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 6px;
}


h1{
    font-family: "Sofia", sans-serif;
    font-size: 70px;
    padding-top: 35px;
    padding-left: 35px;
    color: palevioletred;
}

h2{
    color: palevioletred;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-size: 35px;
    padding-top: 55px;
    margin: 35px;
    border-top: 5px solid white;
    margin-left: -20;
}

h3{
    color: palevioletred;
    margin: 25px;
    font-size: 24px;
}

p{
    font-size: 14px;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS';
    line-height: 2;
    margin: 60px;
}

img {
    width: 45%;
    border-radius: 5%;
    border: solid;
    border-color: pink;
    border-width: 5px;
    display: inherit;
    margin: 60px;
}

.card {
}

.card p {
    
}

.container {
    display: grid;
}


.sub {
    padding-left: 35px;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS';
    font-size: larger;
}

.skip {
    position: absolute;
    background: white;

}

.headerimg {
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.icon {
    color: palevioletred;
}

.social {
    margin-left: 200px;
}


.headercard {
    background-image: url("../images/feminist fist.jpeg");
}

.definition, .interp {
    display: grid;
    grid-template-columns: auto auto;
}

.bounce {
    font-size: 5rem;
    width: 100%;
    margin: 3rem auto;
    display: inline-flex;
    justify-content: center;
}
.bounce span {
    display: inline-flex;
    color: palevioletred;
    font-family: "Sofia", sans-serif;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
}
.ten span:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
    animation-delay: 0.6s;
}

@media screen and (min-width: 800px){
    nav{
      padding-top: 35px;
      text-align:right
  
    }

    .skip {
        position: absolute;

      }

      .social {
        margin-left: 400px;
      }

      nav li {
        display: inline;
      }

      .lit, .politics, .femdict {
        display: grid;
        grid-column: 3;
      }

    
}